{% extends 'base.html' %}
{% block content %}
<h1>Strona główna</h1>
<p class="company-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<h2>Opinie klientów</h2>
<ul class="customer-opinions">
    <li><span class="opinion-quote">„Szybki jak jaszczurka, ostry jak przecinak”</span> ~Zygzak McQueen</li>
    <li><span class="opinion-quote">„Niech żyją paczkomaty”</span> ~Klocuch</li>
    <li><span class="opinion-quote">„Tylko jedno w głowie mam, paczki wysyłam”</span> ~Cypis</li>
</ul>
{% endblock %}