{% extends 'base.html' %}
{% block headers %}
<script src="/static/registration.js"></script>
{% endblock %} 
{% block content %}
<h1>Rejestracja</h1>
<form id="register_form" method="POST" enctype='multipart/form-data' action="https://infinite-hamlet-29399.herokuapp.com/sender/register">
    <ul>
        <li><input type="text" id="login" name="login" placeholder="Nazwa uzytkownika"/></li>
        <li><input type="text" id="firstname" name="firstname" placeholder="Imię"/></li>
        <li><input type="text" id="lastname" name="lastname" placeholder="Nazwisko"/></li>
        <li><input type="password" id="password" name="password" placeholder="Hasło"/></li>
        <li><input type="password" id="repeated_password" name="repeated_password" placeholder="Powtórz hasło"/></li>
        <li>Płeć: <select name="sex" id="sex">
            <option value="K">Kobieta</option>
            <option value="M">Mężczyzna</option>
        </select></li>
        <li><input required type="file" id="photo" name="photo" accept=".jpg,.png"/></li>
        <li><input type="submit" id="submit" name="submit" value="Zarejestruj"/></li>
    </ul>
</form>
{% endblock %}   